<%= flash[:error] %>

<h1> Welcome to Spark </h1>
<h3>Did you feel it?</h3>

<%= link_to "Sign Up", signup_path %>
or 
<%= link_to "Log In", login_path %>
<br>
OR
<br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>